/*------------------------------Components------------------------------*/
@import "./components/button.scss";

@import "./components/switch.scss";

@import "./components/radio.scss";

@import "./components/checkbox.scss";

@import "./components/input.scss";

@import "./components/slider.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
